* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.logo-metodo {
  width: 200px;
  height: 85px;
  margin-left: 15px;
}

.itens-titulos {
  height: 50px;
  box-sizing: border-box;
  padding-left: 30px;
}

.tarefa {
  padding-left: 15px;
}

.espacamento {
  height: 200px;
}

div.imagem-transitoria {
  position: absolute;
  top: 80px;
  left: -90px;
  width: 800px;
  height: 500px;
  /* background-color: khaki; */
  background-image: url(../Assets/default.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: inherit;
  opacity: 0.2;
}

div.itens-titulos:hover + div.imagem-transitoria {
  /* background-image: url(../Assets/estruturas.png); */
  background-color: lightcoral;
}

.box-rodape-icone {
  width: 14%;
}

.box-rodape-icone:nth-child(3) {
  width: 37%;
}

.box-rodape-icone4 {
  width: 200px;
}

.box-rodape-palavras {
  width: 16%;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 50px;
}

.div-progressbar {
  width: 103%;
  display: flex;
  position: fixed;
  bottom: 98px;
}

.progressbar {
  width: 25%;
  background-color: #eb6607 !important;
}
.progressbar2 {
  width: 50%;
  background-color: #eb6607 !important;
}
.progressbar3 {
  width: 75%;
  background-color: #eb6607 !important;
}

.div-rodape {
  display: flex;
  justify-content: space-between;
  width: 101%;
  background-color: #3c3c3c;
  position: fixed;
  bottom: 0;
}

.resumo {
  width: 16%;
  margin-left: 1%;
}

.menu-resumo {
  background-color: #f2f2f2;
}

.metro-quadrado {
  /* background-color: khaki; */
  width: 215px;
  height: 20px;
  box-sizing: border-box;
  padding-left: 15px;
  font-size: 20px;
  color: white;
}

.resultado {
  /* background-color: lawngreen; */
  height: 70px;
  width: 215px;
  margin-bottom: 50px;
  text-align: left;
  margin-left: 15px;
  font-size: 30px;
  color: white;
}

.icone-seta {
  width: 10px;
  width: 10px;
  margin-left: 15px;
}

.celula-collapse {
  width: 126%;
  /* height: 100px; */
}

.linha-dropdown {
  height: 50px;
  width: 354%;
  background-color: #eb6607;
}

.menu-dropdown-op {
  height: 50px;
  width: 25.5%;
  line-height: 50px;
  position: relative;
  z-index: 9999;
}

.menu-dropdown-op:nth-child(4) {
  width: 13%;
}

.menu-dropdown-op:nth-child(5) {
  width: 11%;
}
