@font-face {
  font-family: barlow-regular;
  src: url(../Utils/fontes/barlow/Barlow-Regular.otf);
}

.total {
  text-align: inherit;
  margin-top: 20px;
}

.resultado-final {
  font-size: 50px;
}

.btn {
  margin-top: 15px;
  background-color: white;
  border: 2px solid #eb6607;
  text-align: center;
  font-family: barlow-regular;
}

.empurrar {
  margin-top: 15px;
}

.fonte-resultado {
  font-size: 20px;
}

.espaco {
  height: 30px;
}
